Import libraries

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Display HTML
from IPython.core.display import display, HTML

Load IRIS dataset

Attributes:
1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm
5. class:
-- Iris Setosa
-- Iris Versicolour
-- Iris Virginica

More information: https://archive.ics.uci.edu/ml/datasets/iris

In [14]:
data =  pd.read_csv('../data/raw/iris.data', header=None, names=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'])

Validate dataset

In [15]:
data.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm PetalWidthCm
5.1            3.5           1.4            0.2  Iris-setosa
4.9            3.0           1.4            0.2  Iris-setosa
4.7            3.2           1.3            0.2  Iris-setosa
4.6            3.1           1.5            0.2  Iris-setosa
5.0            3.6           1.4            0.2  Iris-setosa

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 150 entries, 5.1 to 5.9
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    object
dtypes: float64(3), object(1)
memory usage: 5.9+ KB